.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
*.d
*.dia
*.o
*.swiftdeps

# Xcode
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Archives and app bundles
*.xcarchive
*.app
